<app-field-wrapper [model]="model" [control]="control">
  <!-- TODO: possibility to add regex to measure strength (just remove feedback prop) -->
  <p-password
    [id]="model.name"
    [placeholder]="model.placeholder || '' | translate"
    autocomplete="off"
    [formControl]="control"
    [attr.minlength]="getValidatorValue(fieldValidatorType.MIN_LENGTH)"
    [attr.maxlength]="getValidatorValue(fieldValidatorType.MAX_LENGTH)"
    [feedback]="false"
    fluid
    toggleMask
  />
</app-field-wrapper>
