<app-confirm-dialog
  [visible]="visible"
  [icon]="'pi pi-question'"
  [header]="'components.chatDeleteDialog.header' | translate"
  [message]="'components.chatDeleteDialog.message' | translate"
  [accept]="{
    label: 'components.chatDeleteDialog.buttons.accept.title' | translate,
    tooltip: 'components.chatDeleteDialog.buttons.accept.tooltip' | translate,
  }"
  [reject]="{
    label: 'components.chatDeleteDialog.buttons.reject.title' | translate,
    tooltip: 'components.chatDeleteDialog.buttons.reject.tooltip' | translate,
  }"
  (acceptCallback)="onAccept()"
  (rejectCallback)="onReject()"
  severity="danger"
/>
