<form [formGroup]="form" (ngSubmit)="onSend()" class="flex w-full items-end gap-2">
  <textarea
    rows="3"
    pTextarea
    formControlName="message"
    [placeholder]="'components.chatInput.fields.message' | translate"
    (keydown.enter)="onEnter($event)"
    class="max-h-40"
    size="large"
    autoResize
    fluid
  ></textarea>
  <div class="flex flex-col justify-end gap-2">
    @if (scrollable) {
      <p-button
        icon="pi pi-arrow-down"
        size="large"
        severity="info"
        class="hover:animate-none motion-safe:animate-bounce"
        (onClick)="onScrollToBottom()"
      />
    }
    @if (canFastForward) {
      <p-button icon="pi pi-fast-forward" size="large" severity="secondary" (onClick)="onFastForward()" outlined />
    } @else {
      <p-button
        icon="pi pi-send"
        size="large"
        [disabled]="disabled || !form.get('message')?.dirty || !form.get('message')?.valid"
        (onClick)="onSend()"
      />
    }
  </div>
</form>
