<app-field-wrapper [model]="model" [control]="control">
  <!-- TODO: implement upload logic and form logic -->
  <p-fileupload
    [name]="model.name"
    url="https://www.primefaces.org/cdn/api/upload.php"
    (onUpload)="onUpload($event)"
    [multiple]="true"
    accept="image/*"
    maxFileSize="1000000"
    mode="advanced"
  >
    <ng-template #empty>
      <!-- TODO: internationalize -->
      <div>Drag and drop files to here to upload.</div>
    </ng-template>
    <ng-template #content>
      @if (uploadedFiles.length > 0) {
        <ul>
          @for (file of uploadedFiles; track file) {
            <li>{{ file.name }} - {{ file.size }} bytes</li>
          }
        </ul>
      }
    </ng-template>
  </p-fileupload>
</app-field-wrapper>
