@if (type === 'button') {
  <p-splitbutton
    [model]="actions"
    [label]="label"
    [text]="!selected"
    [icon]="selected ? 'bg-primary size-2 rounded-full' : undefined"
    severity="secondary"
    (onClick)="onClick($event)"
    styleClass="w-full *:first:w-full group"
    menuStyleClass="left-auto! right-0"
  >
    <ng-template #content>
      <span class="w-full truncate text-start">{{ label }}</span>
    </ng-template>
    <ng-template #dropdownicon>
      <i class="pi pi-ellipsis-v opacity-0 transition-opacity group-hover:opacity-100"></i>
    </ng-template>
  </p-splitbutton>
} @else if (type === 'menu') {
  <div class="relative">
    <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)" size="large" severity="secondary" outlined />
    <p-menu #menu [model]="actions" [popup]="true" appendTo="target" styleClass="mt-1 right-0" />
  </div>
}
