<p-card
  [styleClass]="
    'w-fit max-w-[85%] border ' +
    (message.role === 'user' ? 'ms-auto border-message-user-border' : 'me-auto border-message-model-border')
  "
  [dt]="message.role === 'user' ? userTokens : modelTokens"
>
  <span [innerHTML]="message.content | markdown | async" class="*:inline"></span>
  <app-cursor [visible]="typing" />

  <small
    class="mt-2 block text-xs"
    [class]="{
      'text-message-user-muted': message.role === 'user',
      'text-message-model-muted': message.role === 'model',
    }"
    >{{ message.creationDate | date: 'short' }}</small
  >
</p-card>
