<!-- NOTE: dt was not working on the drawer (I wanted to change the padding of header and content) -->
<p-drawer
  [visible]="visible()"
  [modal]="false"
  [dismissible]="false"
  [baseZIndex]="900"
  position="right"
  (onHide)="onCloseList()"
  styleClass="z-40 fixed h-auto rounded-xl shadow-lg top-sidebar-top w-sidebar left-sidebar-space-neg right-sidebar-space bottom-sidebar-space"
>
  <ng-template #header>
    <p-button
      *appPermissioned="['ai.chat.create']"
      type="button"
      icon="pi pi-pen-to-square"
      (onClick)="onNewChat()"
      (keydown.enter)="onNewChat()"
      [label]="'components.chatListWrapper.buttons.new.title' | translate"
    />
  </ng-template>
  <ng-template #content>
    <app-chat-list [model]="chatItems()" />
  </ng-template>
  <ng-template #footer *ngIf="archive() !== undefined">
    <p-panel [header]="archive()!.label" toggler="header" [dt]="archiveTokens" toggleable>
      <app-chat-list [model]="[archive()!]" />
    </p-panel>
  </ng-template>
</p-drawer>
